[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-shakkikello
Exec=harbour-shakkikello
Name=harbour-shakkikello
# Tanskaksi (da)
Name[da]=Lynskak
# Saksaksi (de)
Name[de]=Schachuhr
# Englanniksi (en)
Name[en]=Fast chess
# Espanjaksi (es)
Name[es]=Ajedrez rápido
# Suomeksi (fi)
Name[fi]=Pikashakki
# Ranskaksi (fr)
Name[fr]=Blitz échecs
# Italiaksi (it)
Name[it]=Partita lampo
# norvégien bokmål (no)
Name[nb]=Lynsjakk
# Hollanniksi (nl)
Name[nl]=Snel schaken
# Puolaksi (pl)
Name[pl]=Zegar szachowy
# Portugaliksi (pt)
Name[pt]=Xadrez rápido
# Venäjäksi (ru)
Name[ru]=Блиц шахматы
# Ruotsiksi (sv)
Name[sv]=Blixtschack
# Kiinaksi (zh_cn)
Name[zh_CN]=快速棋牌
# Kiinaksi (zh_hk)
Name[zh_HK]=快速棋牌
