[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-shakkikello
Exec=harbour-shakkikello
Name=harbour-shakkikello
# Tanskaksi (da)
Name[da]=Chess ur
# Saksaksi (de)
Name[de]=Schachuhr
# Englanniksi (en)
Name[en]=Chess clock
# Espanjaksi (es)
Name[es]=Reloj de ajedrez
# Suomeksi (fi)
Name[fi]=Shakkikello
# Ranskaksi (fr)
Name[fr]=Pendule d&apos;échecs
# Italiaksi (it)
Name[it]=Orologio Scacchi
# Hollanniksi (nl)
Name[nl]=Schaakklok
# norvégien bokmål (no)
Name[nb]=Sjakklokke
# Puolaksi (pl)
Name[pl]=Zegar szachowy
# Portugaliksi (pt)
Name[pt]=Relógio de xadrez
# Venäjäksi (ru)
Name[ru]=Шахматные часы
# Ruotsiksi (sv)
Name[sv]=Schackklocka
# Kiinaksi (zh_cn)
Name[zh_CN]=棋钟
# Kiinaksi (zh_hk)
Name[zh_HK]=棋鐘
